ftp://public.dhe.ibm.com/software/server/powerfuncsim/p8/packages/v1.0-2/systemsim-p8-1.0-2.x86_64.rpm
ftp://public.dhe.ibm.com/software/server/powerfuncsim/p9/packages/v1.1-0/systemsim-p9-1.1-0.f22.x86_64.rpm
https://github.com/open-power-sdk/power-simulator/tree/master/mambo/resources/md5sum/fedora_checklist.md5
