ftp://public.dhe.ibm.com/software/server/powerfuncsim/p8/packages/v1.0-2/systemsim-p8-1.0-2.el7.x86_64.rpm
ftp://public.dhe.ibm.com/software/server/powerfuncsim/p9/packages/v1.1-0/systemsim-p9-1.1-0.el7.x86_64.rpm
https://raw.githubusercontent.com/open-power-sdk/power-simulator/master/mambo/resources/md5sum/suserhelcentos_checklist.md5
