ftp://public.dhe.ibm.com/software/server/powerfuncsim/p8/packages/v1.0-2/systemsim-p8_1.0-2-trusty_amd64.deb
ftp://public.dhe.ibm.com/software/server/powerfuncsim/p9/packages/v1.1-0/systemsim-p9-1.1-0-trusty_amd64.deb
https://raw.githubusercontent.com/open-power-sdk/power-simulator/master/mambo/resources/md5sum/ubuntu_checklist.md5
